/* ボディー部 */
body {
    text-align: left;
}
/* ヘッダー部に入力ステップを表示 */
header {
    height: 45px;
    background-color: white;
}
/* 入力ステップその１（現在） */
.now {
    line-height: 45px;
    float: left;
    background-color: black;
    color: white;
    border-radius: 12px;
}
/* 入力ステップその２（現在以外） */
.notnow {
    line-height: 45px;
    float: left;
    background-color: lightgrey;
    color: gray;
    border-radius: 12px;
}
/* 入力ステップその３（＞マーク） */
.separator {
    line-height: 45px;
    float: left;
}
/* h2エリア */
h2 {
    text-align: left;
}
/* 入力エリア */
input {
    border: 1px solid #333;
    margin: 0;
    font-size: 90%;
    box-sizing: border-box;
}   
/* :user-invalid を使用 */
input:user-invalid, textarea:user-invalid, select:user-invalid {
    border-color: #900;
    background-color: #FDD;
}
/* :user-invalid を使用 */
input[type="radio"]:user-invalid, input[type="checkbox"]:user-invalid {
    box-shadow: 0 0 2px 1px red;
}
/* :user-invalid を使用 */
input[type="radio"]:user-invalid + label, input[type="checkbox"]:user-invalid + label {
    color: red;
}
/* .required クラスは赤文字表示 */
.required {
    font-size: 90%;
    color: white;
    background-color: red;
    border-radius: 3px;
}
/* .optional クラスは黒文字表示 */
.optional {
    font-size: 90%;
    color: white;
    background-color: black;
    border-radius: 3px;
}
